---
import PageLayout from "@/components/page/PageLayout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import { identity } from "@/config";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { id } = Astro.params;
const { post } = Astro.props;

const { Content, remarkPluginFrontmatter } = await render(post);
---

<PageLayout
  seo={{
    title: post.data.title,
    description: post.data.description,
    image: post.data.image.url,
  }}
  page={{
    title: post.data.title
  }}
  backlink={{
    title: "Back to posts",
    url: "/blog"
  }}
>
  <Image
    src={post.data.image.url}
    alt={post.data.image.alt}
    width={800}
    height={300}
    class="apsect-video w-full rounded-xl mb-10"
  />
  <article
    class="prose prose-invert prose-a:text-blue-300 prose-a:underline-offset-4 prose-headings:mb-2 prose-p:text-[#b3b3b3]"
  >
    <Content />
    <br />
    <div class="flex gap-4 mb-6">
      <Image
        src={identity.logo}
        alt={identity.name}
        width={48}
        height={48}
        class="w-12 h-12 rounded-full object-cover"
      />
      <div>
        <p class="font-medium">{identity.name}</p>
        <p class="opacity-60">
          {post.data.pubDate.toLocaleDateString()} · {
            remarkPluginFrontmatter.minutesRead
          }
        </p>
      </div>
    </div>
  </article>
</PageLayout>
