---
import { buttonVariants } from "@/components/ui/button";
import { identity } from '@/config';
import BentoBox from '@/components/layout/BentoBox.astro';

const profile = {
  stats: [
    { label: "Posts", value: 4 },
    { label: "Projects", value: 3 },
    { label: "Bounties", value: 0 },
  ],
};
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
  <BentoBox>
  <img src={identity.avatar} alt={identity.name} class="w-32 h-32 rounded-full border-1 shadow-xs" />

  <!-- Name -->
  <h2 class="mt-6 text-2xl font-bold text-foreground">{identity.name}</h2>

  <p class="mt-3 text-sm text-gray-400">{identity.name}</p>
  </BentoBox>

  <BentoBox>
    <div class="flex justify-center mt-6 space-x-8">
      {profile.stats.map((stat) => (
        <div class="flex flex-col items-center">
          <span class="text-2xl font-bold text-foreground">{stat.value}</span>
          <span class="text-sm text-gray-400">{stat.label}</span>
        </div>
      ))}
    </div>
  </BentoBox>
</div>