---
import HeadSEO from "@/components/HeadSEO.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import type { SEOInfo } from "../types/config";

interface Props {
  seo: SEOInfo
}

const { seo } = Astro.props;
const imgUrl = new URL(`${Astro.site}${seo.image}`);
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<html lang="en">
  <head>
    <HeadSEO title={seo.title} description={seo.description} image={imgUrl} />
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <section class="mt-10 max-w-6xl mx-auto px-6">
			<slot />
		</section>
      </main>
      <Footer />
    </div>
  </body>
</html>
