---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import "@/styles/fonts.css";
import type { SEOInfo } from "@/types/config";

interface Props {
  seo: SEOInfo;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.seo.image === undefined) {
  Astro.props.seo.image = (new URL("image.png", canonicalURL)).toString();
}

const { title, description, image } = Astro.props.seo;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href={`${Astro.site}favicon.svg`}
    />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
